@charset "UTF-8";

table, tr, td, th{
    border-collapse: collapse;
    border: 1px solid black;

    text-align: center;
    padding: 3px;
}

table{
    margin: 10px;
}

input[type="number"] {
    width: 65px;
}